.menu {
    list-style-type: none;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.menu li {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu li:nth-child(1) {
    background-color: var(--dark-blue);
}
.menu li:nth-child(2) {
    background-color: var(--green);
}
.menu li:nth-child(3) {
    background-color: var(--black);
}
.menu li:nth-child(4) {
    background-color: var(--pink);
}

.selected {
    font-size: 2em;
    letter-spacing: 0.2em;
}

.notSelected{
    font-size: 1.5em;
    letter-spacing: 0.15em;
}

.menu li span {
    color: white;
    font-weight: 600;
    
    /* -webkit-animation: portiflioLinkHoverReverse 0.2s;
    -moz-animation: portiflioLinkHoverReverse 0.2s;
    -o-animation: portiflioLinkHoverReverse 0.2s;
    animation: portiflioLinkHoverReverse 0.2s; */
}

.menu li:hover .notSelected{
    
    /* -webkit-animation: portiflioLinkHover 0.2s;
    -moz-animation: portiflioLinkHover 0.2s;
    -o-animation: portiflioLinkHover 0.2s;
    animation: portiflioLinkHover 0.2s; */
}

@keyframes portiflioLinkHover {
    0% {
        font-size: 1.5em;
        letter-spacing: 0.15em;
    }
    100% {
        font-size: 2em;
        letter-spacing: 0.2em;
    }
}

@keyframes portiflioLinkHoverReverse {
    0% {
        font-size: 2em;
        letter-spacing: 0.2em;
    }
    100% {
        font-size: 1.5em;
        letter-spacing: 0.15em;
    }
}
