.link {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5em;
    border: 1px solid var(--black);
    color: black;
    background-color: white;
    padding: 0.5em 1em;
    height: 50%;
    font-size: 0.75em;
}

.link:hover {
    color: white;
    background-color: black;
}

.link span {
    margin-right: 0.5em;
    font-weight: 500;
    letter-spacing: 0.05em;
}