.experience {
    background-color: var(--dark-blue);
}

.skills {
    background-color: var(--green);
}

.projects {
    background-color: var(--black);
}

.contact {
    background-color: var(--pink);
}