.navLinks {
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.navLinks ul {
    list-style: none;
}

.navLinks li {
    padding-top: 1em;
    text-align: end;
    cursor: pointer;
}

.navLinks .active {
    color: var(--green)
}